[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	unload = push --all origin
	stu = status -uno
	df = diff
	lg = log --oneline --graph
	mg = merge
	rb = rebase
	rbc = rebase --continue
	dfc = diff --cached
	adu = add -u
	cfd = clean -fd
	rs = restore
	rss = restore --staged
	adi = add -i
	cim = commit -m
	cl = clone
	ciam = commit -am
	rmc = rm --cached
	sw = switch
	unstash = stash pop
	cia = commit -a
	ciaa = commit -a --amend
	ptags = push --tags
	unstage = restore --staged
	cid = commit --amend
	sm = submodule
	smu = submodule update
	psm = pull --recurse-submodules
	pasm = pull --all --recurse-submodules
	fasm = fetch --all --recurse-submodules
	rst = reset
	rsts = reset --soft
	rstm = reset --mixed
	sts = stash
	stsl = stash list
	rbom = rb origin/master
	cxf = clean -Xf
	a = add
	cpc = cherry-pick --continue
	cp = cherry-pick
	cie = commit --allow-empty
	s = status
	l = log
	b = branch -v
	d = diff
	cn = clone
	cns = clone --recurse-submodules
	h = help
	swc = switch -c
	ciad = commit -a --amend
	cls = clone --recurse-submodules
	cfg = config --global
	sh = show
	swm = switch master
	psho = push origin
	rv = revert
	rvc = revert --continue
	history = log --follow -p --
	v = version
	smur = submodule update --init --recursive
	smui = submodule update --init
	rsth = rst HEAD~
	rbab = rebase --abort
	cln = clean
	clnfdxyy = clean -f -d -x
	rvsh = remote -v show
	clnfdx = clean -f -d -x -n
	rbi = rebase --interactive
	rt = remote
	rtv = remote -v show
	lp = log -p
	cpab = cherry-pick --abort
	fsm = fetch --recurse-submodules
	smuir = submodule update --init --recursive
	cidne = commit --amend --no-edit
	wt = worktree
	wta = worktree add
	wtl = worktree list -v
	cnb = clone --branch
	cnsb = clone --recurse-submodules --branch
	cnssb = clone --recurse-submodules --single-branch --branch
	fash = fetch --unshallow
	fdp = fetch --deepen
	ciadne = commit -a --amend --no-edit
	sl = shortlog
	sls = shortlog -sne
	rssa = restore --staged .
[user]
	name = Ruslan Vostretsov
	email = rus1995_95@mail.ru
[core]
	editor = emacs -nw -q
[init]
	defaultBranch = master
