[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	unload = push --all
	stu = status -uno
	df = diff
	lg = log --oneline --graph
	mg = merge
	rb = rebase
	rbc = rebase --continue
	dfc = diff --cached
	adu = add -u
	cfd = clean -fd
	rs = restore
	rss = restore --staged
	adi = add -i
	cim = commit -m
	cl = clone
	ciam = commit -am
	rmc = rm --cached
	sw = switch
	unstash = stash pop
	cia = commit -a
	ciaa = commit -a --amend
	ptags = push --tags
	unstage = restore --staged
	cid = commit --amend
	sm = submodule
	smu = submodule update
	psm = pull --recurse-submodules
	pasm = pull --all --recurse-submodules
	fasm = fetch --all --recurse-submodules
	rst = reset
	rsts = reset --s
[user]
	name = Ruslan Vostretsov
	email = ElectricalBrain@protonmail.com
[core]
	editor = emacs -nw
[init]
	defaultBranch = master
