[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	upload = push --all
	stu = status -uno
	df = diff
	lg = log --oneline --graph
	mg = merge
	rb = rebase
	dfc = diff --cached
	adu = add -u
[user]
	name = Ruslan Vostretsov
	email = ElectricalBrain@protonmail.com
[core]
	editor = emacs -nw
